<h1><%=@challenge.name%></h1>
<h2>Start Date: <%=@challenge.start_date.strftime('%F')%></h2>

<%= render "note/form", challenge: @challenge %>

<h4 class='sub-header'>Notes</h4>

<% @challenge.notes.each do |note| %>
  <%= render "note/note", note: note %>
<% end %>
    <form action="<%= challenge_url(@challenge) %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
      <input type="submit" value="Destroy Challenge">
    </form>
