<h1>New Rental Request</h1>
<form>
  <%# :cat_id, :end_date, :start_date, :status %>
  <label for="cat_rental_request_cat_id">cat_id</label>
  <select name="cat_rental_request_cat_id[cat_id]" id="cat_rental_request_cat_id">
    <option disabled selected >--select a cat--</option>
    <%= Cat.all.each do |cat| %>
      <option
      <%= @rental.cat_id == cat.id ? "selected" : "" %>
      value="<%= cat.id %>"
      >
      <%= cat.name %>
      <%= cat.id %>
    </option>
      <% end %>
  </select>
  <br>
  <label for="cat_rental_request_start_date">Start Date</label>
  <input 
    type="date"
    name="cat_rental_request[start_date]"
    id="cat_rental_request_start_date"
    value="<%= @rental.start_date %>"
  />
  <br>
  
  <label for="cat_rental_request_end_date">End Date</label>
  <input 
    type="date"
    name="cat_rental_request[end_date]"
    id="cat_rental_request_end_date"
    value="<%= @rental.end_date %>"
  />
  <br>

  <input type="submit" value="submit">
</form>