<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <nav>
  
        <%= form_tag session_path, method: "delete" do %>
        <%= submit_tag "Delete" %>
        <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
      <% end %>

      </nav>
    <% end %>

    <% if flash[:errors] %>
      <p><%= flash[:errors].join(", ") %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
