<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

        <nav>
    <h1 class="main-logo">Dogram</h1>
    <% if logged_in? %>

      <div class="user-detail">
        <p>Logged in as: <%= current_user.email %></p>

        <%= form_tag session_path, method: "delete" do %>
        <%= submit_tag "sign out" %>
        <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
        <% end %>
      </div>
      </nav>
    <% end %>

    <% if flash[:errors] %>
      <p><%= flash[:errors].join(", ") %></p>
    <% end %>
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
  <div class="main-content">
    <%= yield %>
    </div>
  </body>
</html>
